
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Nea-Dex Pa</h1>
        <div class="button-container">
            <a href="/pokenea/showJSON" class="button">JSON</a>
            <a href="/pokenea/showView" class="button">Ver Pokenea</a>
        </div>
    </div>
</body>
</html>
